@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 mx-auto p-3 rounded borde">
        <section>
            <form id="account" method="post">
                <h2>@ViewData["Title"]</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label class="form-label">Senha</label>
                    <input asp-for="Input.Password" class="form-control" />

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <p>
                    Sem conta?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar-se</a>
                </p>
                <div class="row mb-3">
                    <div class="col-sm-8 offset-sm-4 d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a asp-page="/Index" class="btn btn-outline-primary">Cancel</a>
                    </div>
                </div>
                <div>
                    @*  <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p> *@

                    @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
