@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<p>
    Somos uma plataforma de crowdfunding com foco em assistência social, comprometida em promover a solidariedade e o desenvolvimento humano por meio do financiamento coletivo. Nosso objetivo é conectar pessoas, organizações e comunidades que precisam de apoio com doadores dispostos a fazer a diferença.
</p>
<p>
    Acreditamos que causas sociais merecem visibilidade e recursos para gerar impacto real. Por isso, oferecemos um ambiente seguro, transparente e acessível para a divulgação e arrecadação de fundos para projetos sociais, ações comunitárias, campanhas emergenciais, entre outras iniciativas voltadas ao bem-estar coletivo.
</p>
<p>
    Desenvolvida com tecnologia moderna e princípios de responsabilidade social, nossa plataforma é um canal de transformação que fortalece o engajamento social e promove a cidadania ativa.
</p>
<p>
    <strong>
        Juntos, podemos construir uma sociedade mais justa, solidária e humana.
    </strong>
</p>
