@page 

@model ZimFund.Pages.Comments.CreateModel

<h2>Adicionar Comentário</h2>

<form method="post">
    <input type="hidden" asp-for="Comment.ProjectId" value="@Model.Id" />

    <div class="form-group">
        <label asp-for="Comment.Content">Comentário</label>
        <br />
        <textarea asp-for="Comment.Content" class="form-control"></textarea>
    </div>
    @* <input type="hidden" asp-for="Comment.ProjectId" /> *@
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
