@page "{id:int}"
@model ZimFund.Pages.Comments.EditModel
@using Microsoft.AspNetCore.Identity

<h2>Editar Comentário</h2>

<form method="post">
    <input type="hidden" asp-for="Comment.Id" />
    <input type="hidden" asp-for="Comment.ProjectId" />

    <div class="form-group">
        <label asp-for="Comment.Content"></label>
        <textarea asp-for="Comment.Content" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Salvar alterações</button>

    @if (User.IsInRole("admin"))
    {
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    }
    else
    {
        <a asp-page="/Projects/Select" asp-route-id="@Model.Comment.ProjectId" class="btn btn-secondary">Cancelar</a>
    }
</form>
